<p style="color: green"><%= notice %></p>

<h1>Flats</h1>

<div class="d-flex" id="flats">
  <% @flats.each do |flat| %>
    <%= render flat %>
  <% end %>
</div>

<%= link_to "New flat", new_flat_path %>
